

{% block Content %}
    <h1>Search Health Facilities</h1>

    <form method="GET" action="{% url 'search_results' %}">
        <label for="query">Search Query:</label>
        <input type="text" id="query" name="query">
        <button type="submit">Search</button>
    </form>

    {% if results %}
        <h2>Search Results</h2>
        <ul>
            {% for result in results %}
                <li><a href="{% url 'facility_detail' result.pk %}">{{ result.facility_n }} region {{ result.admin1 }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %}

    {% endblock  %}
    

